Repository paulchubatyy/paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-env-files, check-docker-compose-valid, check-makefile-tabs, check-hardcoded-passwords, check-s3-credentials

no-env-files:
  name: Prevent committing .env files
  entry: found .env file! These contain secrets and should not be committed.
  language: fail

check-docker-compose-valid:
  name: Validate docker-compose.yml
  entry: docker compose -f docker-compose.yml config
  language: system
  pass_filenames: false

check-makefile-tabs:
  name: Check Makefile uses tabs
  entry: bash -c 'if grep -q "^  " Makefile; then echo "Makefile must use tabs, not spaces"; exit 1; fi'
  language: system
  pass_filenames: false

check-hardcoded-passwords:
  name: Check for hardcoded passwords in docker-compose
  entry: bash -c 'if grep -i -E "(password|secret|key|token)\s*[=:]\s*["'"'"'][^"'"'"']+["'"'"']" docker-compose.yml; then echo "Potential hardcoded password found!"; exit 1; fi'
  language: system
  pass_filenames: false

check-s3-credentials:
  name: Check for hardcoded S3 credentials in docker-compose
  ...

Add postgres restore service and backup/restore make commands
  Makefile
  README.md
  docker-compose.yml
  example.env
Due: check-docker-compose-valid, check-makefile-tabs, check-hardcoded-passwords, check-s3-credentials

Add license
  LICENSE
Due: none

Fix backup command to trigger immediate backup by overriding SCHEDULE
  Makefile
Due: check-makefile-tabs

Fix backup: use **None** to trigger immediate one-time backup
  Makefile
Due: check-makefile-tabs

Switch to custom backup service built from postgres:18 for version compatibility
  Makefile
  README.md
  backup/Dockerfile
  backup/do-backup.sh
  backup/restore.sh
  docker-compose.yml
Due: check-docker-compose-valid, check-makefile-tabs, check-hardcoded-passwords, check-s3-credentials

Fix backup scheduling for Debian-based postgres:18 image
  backup/backup.sh
  backup/do-backup.sh
Due: none

Fix Make: add .PHONY declaration for backup and restore targets
  Makefile
Due: check-makefile-tabs

Install AWS CLI in backup Docker image
  backup/Dockerfile
Due: none

Fix AWS CLI installation by adding executable permission before install
  backup/Dockerfile
Due: none

Fix AWS CLI architecture detection
  backup/Dockerfile
Due: none

Fix AWS CLI unzip and permission handling
  backup/Dockerfile
Due: none

Simplify AWS CLI installation using pip3
  backup/Dockerfile
Due: none

Use debian package
  backup/Dockerfile
Due: none

Initialized with claude
  .gitignore
  CLAUDE.md
Due: none

Fix cron scheduling
  backup/backup.sh
Due: none

feat(compose): make PostgreSQL and MariaDB interchangeable
  CLAUDE.md
  Makefile
  README.md
  backup/Dockerfile
  backup/do-backup.sh
  backup/restore.sh
  compose/mariadb.yml
  compose/postgres.yml
  compose/traefik.yml
  compose/valkey.yml
  docker-compose.yml
  example.env
Due: check-docker-compose-valid, check-makefile-tabs, check-hardcoded-passwords, check-s3-credentials

feat: add install script for Ubuntu servers
  README.md
  example.env
  install.sh
Due: none

fix: address review findings for compose restructuring
  .pre-commit-config.yaml
  Makefile
  README.md
  backup/backup.sh
  backup/do-backup.sh
  backup/restore.sh
  compose/mariadb.yml
  compose/postgres.yml
  compose/traefik.yml
  compose/valkey.yml
Due: check-makefile-tabs

chore: add Claude Code commands and settings
  .claude/commands/k.md
  .claude/commands/ke.md
  .claude/commands/ki.md
  .claude/commands/kp.md
  .claude/commands/kr.md
Due: none

fix: address security and code review findings for install script
  CLAUDE.md
  README.md
  example.env
  install.sh
Due: none

fix: address security and code review findings for install script
  .pre-commit-config.yaml
  backup/do-backup.sh
  backup/restore.sh
  install.sh
Due: none

fix: set -e silent exit when validation checks pass in prompt_config
  install.sh
Due: none

feat(install): add daily cron to prune unused Docker images >14 days
  install.sh
Due: none

feat(compose): make database image versions configurable via .env
  compose/mariadb.yml
  compose/postgres.yml
  example.env
Due: none

feat(install): prompt for database version during setup
  install.sh
Due: none

Path conditions:
  no-env-files: any of: ^\.env$
  check-docker-compose-valid: any of: docker-compose\.yml$
  check-makefile-tabs: any of: Makefile$
  check-hardcoded-passwords: any of: docker-compose\.yml$
  check-s3-credentials: any of: docker-compose\.yml$
